@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class="d-flex gap-3 align-items-center">
    <a class="btn btn-outline-info" asp-action="Index"> << Powrót</a>
    <h1>Dodaj samochód</h1>
</div>
<form asp-action="Create" method="post">
    <div class="mb-3">
        <label asp-for="Maker"></label>
        <input class="form-control" asp-for="Maker"/>
        <span asp-validation-for="Maker" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Volume"></label>
        <input class="form-control" asp-for="Volume" />
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Power"></label>
        <input class="form-control" asp-for="Power" />
        <span asp-validation-for="Power" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EngineType"></label>
        <select class="form-select" asp-for="EngineType" asp-items="@Html.GetEnumSelectList<EngineType>()"></select>
        <span asp-validation-for="EngineType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Registration"></label>
        <input class="form-control" asp-for="Registration" />
        <span asp-validation-for="Registration" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="OwnerId">Właściciel</label>
        <div class="d-flex justify-content-between align-items-center gap-3 mb-2">
            <input class="form-control" type="text" id="filter" />
            <a class="btn btn-primary" style="flex-shrink: 0" asp-controller="Owner" asp-action="Create">Dodaj właściciela</a>
        </div>
        <select class="form-select" id="OwnerId" name="OwnerId">
        </select>
        <span asp-validation-for="OwnerId" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Dodaj</button>
    </div>
</form>

@section Scripts {
    <script>
        const select = document.getElementById('OwnerId');
        const filter = document.getElementById('filter');

        function fillSelect() {
            fetch(`/api/owners?q=${filter.value}`)
                .then(response => response.json())
                .then(json => {
                    select.innerHTML = ''
                    for (let item of json) {
                        const option = document.createElement('option')
                        option.setAttribute('value', item.id)
                        option.innerText = item.name
                        select.appendChild(option)
                    }
                })
        }

        filter.onchange = fillSelect
        filter.oninput = fillSelect

        window.addEventListener('DOMContentLoaded', fillSelect)
    </script>
}
