@model Car
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h1>Edycja samochodu</h1>
<form asp-action="Update" method="post">
    <input asp-for="Id"/>
    <div class="mb-3">
        <label asp-for="Maker"></label>
        <input class="form-control" asp-for="Maker" />
        <span asp-validation-for="Maker" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Name"></label>
        <input class="form-control" asp-for="Name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Volume"></label>
        <input class="form-control" asp-for="Volume" />
        <span asp-validation-for="Volume" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Power"></label>
        <input class="form-control" asp-for="Power" />
        <span asp-validation-for="Power" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EngineType"></label>
        <select class="form-select" asp-for="EngineType" asp-items="@Html.GetEnumSelectList<EngineType>()" ></select>
        <span asp-validation-for="EngineType" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Registration"></label>
        <input class="form-control" asp-for="Registration" />
        <span asp-validation-for="Registration" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Owner"></label>
        <input class="form-control" asp-for="Owner" />
        <span asp-validation-for="Owner" class="text-danger"></span>
    </div>

    <div>
        <button type="submit" class="btn btn-primary">Edytuj</button>
    </div>
</form>